.footer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  .footerList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    .footerItem {
      margin-right: 8px;
      color: gray;
      font-size: 13px;
      cursor: pointer;
    }
  }

  .footerFrom {
    color: gray;
    font-size: 14px;
  }
}
