.story {
  width: calc(100% / 3);
  padding: 10px;
  height: 20rem;
  overflow: hidden;
  position: relative;
  .img-thumnail {
    object-fit: cover;
    width: 100%;
  }
  .overlay{
      width: 93%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      display: none;
  }

}

.story:hover .overlay{
    display: block;
    
}




